<html>
<head>
  <title>Confirm email</title>
</head>
<body>
<main>
  <section id="success-message">
    <div>
      <p>
        Your email was successfully verified
      </p>
    </div>
  </section>


  <section id="error-message">
    <div>
      Error on verify account
    </div>
  </section>

</main>
<script>
  const token = "{{token}}"

  const successSection = document.getElementById('success-message');
  const errorSection = document.getElementById('error-message');
  successSection.style.display = 'none';
  errorSection.style.display = 'none';

  const verifyEmail = async () => {
    try {
      const response = await fetch(`/api/auth/email/verify?token=${token}`);

      if(response.status !== 200) {
        errorSection.style.display = 'block';

        return;
      }

      successSection.style.display = 'block';

    } catch (e) {
      errorSection.style.display = 'block';
    }
  }

  verifyEmail();
</script>
</body>
</html>
