<html>
<head>
  <title>Restore password</title>
  <link rel="stylesheet" href= "/css/password.css">
</head>
<body>
<main class="layout">
  <section >
    <div id="success-message" class="alert success">
      <p>
        Your password has been restore
      </p>
    </div>
  </section>


  <section>
    <div id="error-message" class="alert error">
      Error on change password
    </div>
  </section>

  <section id="form-section">
    <form id="change-password-form">
      <label for="newPassword">
        New password
      </label>
      <input type="password" id="newPassword" name="newPassword" />

      <button type="submit">Change password</button>
    </form>
  </section>

</main>
<script>
  const token = "{{token}}"

  // messages
  const errorSection = document.getElementById('error-message');
  const successSection = document.getElementById('success-message');

  successSection.style.display = 'none';
  errorSection.style.display = 'none';

  // forms
  const changePasswordForm = document.getElementById('change-password-form');
  const passwordInput = document.getElementById('newPassword');
  const submitButton = document.getElementsByTagName('button')[0];
  submitButton.disabled = true;

  passwordInput.addEventListener('input', () => {
      const value = passwordInput.value;
      console.log('here');

      if (!value){
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
  });


  changePasswordForm.addEventListener('submit', (evt) => {
    evt.preventDefault();
    const password = passwordInput.value;

    changePassword(password);
  });

  const changePassword = async (password) => {

    try {
      const response = await fetch('/api/auth/change-forgotten-password', {
        method: 'POST',
        body: JSON.stringify({
          password,
        }),
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`,
        }
      });

      if(response.status !== 200) {
        errorSection.style.display = 'block';

        return;
      }

      successSection.style.display = 'block';
      document.getElementById('form-section').style.display = 'none';

    } catch (e) {
      errorSection.style.display = 'block'
    }
  }
</script>
</body>
</html>
