
.layout{
    display: flex;
    flex-direction: column;
    gap: 2px;
}


section{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alert{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid;
}

.alert.success {
  border-color: #65bf5e;
}

.alert.error {
    border-color: #8e2035;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input{
    width: 100%;
    border: 0;
    padding: 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    color: #223254;
}

input:focus{
    outline: none;
    stroke: #0077FF;
}

button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
